<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Wohoo PopPost!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      	<link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-white ">
		{# navbar start here #}
		{# {{include("nav.html.twig" )}} #}
		{# NAV BAR END HERE #}
		
		
		{# <div class="w-full md:w-2/3 mx-auto">  #}
		<div>
			{% for message in app.flashes('success') %}
				<div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">
					{{message}}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
